<app-navbar></app-navbar>
<app-search (search)="onSearch($event)"></app-search>
<div class="container">
  <div *ngFor="let patient of getPaginatedPatients(); trackBy: trackByPatient">
    <app-patientslist-item [patient]="patient" (patientDeleted)="onPatientDeleted($event)"></app-patientslist-item>
  </div>

  <div class="pagination-controls">
    <!-- Page Size Selector -->
    <div class="page-size-selector">
      <label for="pageSize">Records per page:</label>
      <select id="pageSize" (change)="onPageSizeChange($event)">
        <option *ngFor="let size of pageSizeOptions" [value]="size" [selected]="size === pageSize">
          {{ size }}
        </option>
      </select>
    </div>

    <!-- Pagination Buttons -->
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
</div>
