<app-navbar></app-navbar>

<mat-toolbar color="primary">
  <span class="spacer"></span>
  <mat-form-field appearance="fill">
    <mat-label></mat-label>
    <input
      matInput
      (input)="applySearchFilter($event)"
      placeholder="Search by name, condition or contact"
    />
  </mat-form-field>
</mat-toolbar>

<mat-table #table [dataSource]="patients" matSort class="mat-elevation-z8">

  <!-- Patient ID Column -->
  <ng-container matColumnDef="patientId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient ID </th>
    <td mat-cell *matCellDef="let patient"> {{ patient.patientId }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let patient">
      <div class="name-container">
        <div class="avatar">{{ patient.firstName[0] }}{{ patient.lastName[0] }}</div>
        {{ patient.firstName }} {{ patient.lastName }}
      </div>
    </td>
  </ng-container>

  <!-- DOB Column -->
  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
    <td mat-cell *matCellDef="let patient">{{ patient.dob | date }}</td>
  </ng-container>

  <!-- Gender Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
    <td mat-cell *matCellDef="let patient">{{ patient.gender }}</td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let patient">{{ patient.email }}</td>
  </ng-container>

  <!-- Phone Number Column -->
  <ng-container matColumnDef="phonenumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
    <td mat-cell *matCellDef="let patient">{{ patient.phonenumber }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let patient">
      <button mat-raised-button color="primary" (click)="viewPatientDetails(patient.patientId)">
        <mat-icon>visibility</mat-icon> View
      </button>
    </td>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>

<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>




