<nav>
  <div class="navbar">
    <i class="bx bx-menu"></i>
    <a class="logo" href="/home"><app-logo></app-logo></a>
    <div class="nav-links">
      <ul class="links">
        <li>
          <a>Patients</a>
          <i class="bx bxs-chevron-down htmlcss-arrow arrow"></i>
          <ul class="htmlCss-sub-menu sub-menu">
            <li><a href="/add-patient">Add New Patient</a></li>
            <li><a href="/patient-list">View Patient</a></li>
          </ul>
        </li>
        <li>
          <a href="/recommendedCheck-list">Recomendations</a>
        </li>
        <li *ngIf="Role === 'Admin'">
          <a href="/user-list">Users</a>
        </li>
      </ul>
    </div>
    <div class="user-info">
      <div class="greeting">
        <span
          >Hi,
          <span class="user-name"
            >{{ userFirstName }} {{ userSurname }}</span
          ></span
        >
      </div>
      <div class="logout">
        <a (click)="logout()"><i class="logout-icon">&#x1F6AA;</i> Log Out</a>
      </div>
    </div>
  </div>
</nav>
