<h1 mat-dialog-title>{{ data.action === 'add' ? 'Add Recommended Check' : 'Edit Recommended Check' }}</h1>
<mat-dialog-content>
  <form [formGroup]="recommendedCheckForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Details</mat-label>
      <textarea matInput formControlName="details" required></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>