<app-navbar></app-navbar>
<div class="container mt-5">
    <h2 class="text-center mb-4">Dashboard</h2>
  
    <!-- Stats Cards -->
    <div class="stats-container">
      <div class="stat-card">
        <h3>{{ totalPatients }}</h3>
        <p>Total Patients</p>
      </div>
      <div class="stat-card">
        <h3>{{ newPatientsToday }}</h3>
        <p>New Patients Today</p>
      </div>
      <div class="stat-card">
        <h3>{{ totalChecksToday }}</h3>
        <p>Checks Assigned Today</p>
      </div>
      <div class="stat-card">
        <h3>{{ completedChecksToday }}</h3>
        <p>Checks Completed Today</p>
      </div>
    </div>
  </div>
