<mat-tab-group>
  <!-- Tab for Medical Info -->
  <mat-tab label="Medical Info">
    <div class="medical-info">
      <h2>Medical Information</h2>
      <div *ngIf="patientDetails">
        <p><strong>First Name:</strong> {{ patientDetails.firstName }}</p>
        <p><strong>Last Name:</strong> {{ patientDetails.lastName }}</p>
        <p><strong>DOB:</strong> {{ patientDetails.dob }}</p>
        <p><strong>Gender:</strong> {{ patientDetails.gender }}</p>
        <p><strong>Email:</strong> {{ patientDetails.email }}</p>
        <p><strong>Phone Number:</strong> {{ patientDetails.phonenumber }}</p>
        <p><strong>Emergency Contact:</strong> {{ patientDetails.emergencyContact }}</p>
        <p><strong>Emergency Contact Info:</strong> {{ patientDetails.emergencyContactInfo }}</p>
        <p><strong>HeightCM:</strong> {{ patientDetails.heightCM }}</p>
        <p><strong>WeightKG:</strong> {{ patientDetails.weightKG }}</p>
        <p><strong>BMI:</strong> {{ patientDetails.bmi }}</p>
        <p><strong>Chronic Conditions:</strong> {{ patientDetails.chronicConditions }}</p>
        <p><strong>Family History:</strong> {{ patientDetails.familyHistory }}</p>
        <p><strong>Allergies:</strong> {{ patientDetails.allergies }}</p>
        <p><strong>Medications:</strong> {{ patientDetails.medications }}</p>
        <button mat-raised-button color="primary" (click)="openEditDialog(patientDetails)">Edit Patient</button>
      </div>
    </div>
  </mat-tab>

  <!-- Tab for Recommended Checks -->
  <mat-tab label="Recommended Checks">
    <div class="recommended-checks">
      <h2>Recommended Checks</h2>  <button mat-raised-button style="background-color: green;color:white;width:150px"(click)="OpenAddDialog(patientDetails.patientId)">Add Check</button>
      
      <mat-form-field appearance="fill">
        <mat-label>Filter by Status</mat-label>
        <mat-select [(value)]="selectedCheckStatus" (selectionChange)="onStatusChange($event.value)">
          <mat-option value="pending">Not Done</mat-option>
          <mat-option value="finished">Finished</mat-option>
          <mat-option value="all">All</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-list *ngIf="filteredChecks.length">
        <mat-list-item *ngFor="let check of filteredChecks; let i = index">
          <mat-checkbox [formControl]="checks.at(i)">
            {{ check.checkName }}
          </mat-checkbox>
          {{check.updatedAt | date}}
        </mat-list-item>
      </mat-list>
      
      <button mat-raised-button color="primary" (click)="submitChecklist()">Submit</button>
    </div>
  </mat-tab>
</mat-tab-group>
