<mat-card class="checklist-item">
    <mat-card-header>
      <mat-card-title>{{ recommendedCheck.CheckName }}</mat-card-title>
      <mat-card-subtitle>{{ recommendedCheck.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ recommendedCheck.details }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>