<mat-card class="patient-card">
  <mat-card-header>
    <mat-card-title>{{ patient.firstName }} {{ patient.lastName }}</mat-card-title>
    <mat-card-subtitle>Age: {{ calculateAge(patient.dob) }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Gender:</strong> {{ patient.gender }}</p>
    <p><strong>Patient Number:</strong> {{ patient.patientId }}</p>
  </mat-card-content>
  <mat-card-actions class="patient-actions">
    <!-- View Button -->
    <button mat-raised-button color="primary" (click)="viewPatientDetails(patient.patientId)">
      <mat-icon>visibility</mat-icon> View
    </button>
    <!-- Delete Button -->
    <button mat-raised-button color="warn" >
      <mat-icon>delete</mat-icon> Delete
    </button>
  </mat-card-actions>
</mat-card>
